/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings =
                <&kp>,
                <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp TAB>;
        };

        combo_del {
            bindings = <&kp DEL>;
            key-positions = <8 7>;
        };

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <28 27>;
        };

        hold_layer {
            bindings = <&mo 2>;
            key-positions = <30 33>;
        };

        new_combo {
            bindings = <&mo 6>;
            key-positions = <30 31>;
        };

        new_combo {
            bindings = <&mo 3>;
            key-positions = <32 33>;
        };

        new_combo {
            bindings = <&to 5>;
            key-positions = <31 32>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
           &kp Q           &kp W               &kp E             &kp R          &kp T      &kp Y              &kp U                &kp I            &kp O                        &kp P
 &hm LEFT_META A  &hm LEFT_ALT S  &hm LEFT_CONTROL D  &hm LEFT_SHIFT F          &kp G      &kp H  &hm RIGHT_SHIFT J  &hm RIGHT_CONTROL K  &hm RIGHT_ALT L  &hm RIGHT_META SINGLE_QUOTE
           &kp Z           &kp X               &kp C             &kp V          &kp B      &kp N              &kp M            &kp COMMA          &kp DOT                    &kp SLASH
                                                                 &to 1  &kp BACKSPACE  &kp SPACE              &mo 4
            >;
        };

        numbers {
            bindings = <
  &kp NUMBER_1  &kp NUMBER_2      &kp NUMBER_3    &kp NUMBER_4   &kp NUMBER_5  &kp NUMBER_6          &kp NUMBER_7             &kp NUMBER_8            &kp NUMBER_9          &kp NUMBER_0
 &kp LEFT_META  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT          &none     &kp MINUS  &hm RIGHT_SHIFT PLUS  &hm RIGHT_CONTROL SLASH  &hm RIGHT_ALT ASTERISK  &hm RIGHT_META EQUAL
         &none         &none             &none           &none          &none         &none                 &none                    &none                   &none                 &none
                                                         &none  &kp BACKSPACE     &kp SPACE                 &none
            >;
        };

        symbols {
            bindings = <
        &kp EXCLAMATION         &kp AT_SIGN              &kp DOLLAR                &kp AMPERSAND    &kp PERCENT      &kp CARET                          &kp HASH                  &kp ASTERISK                    &kp PLUS                 &kp EQUAL
 &hm LEFT_META QUESTION  &hm LEFT_ALT GRAVE  &hm LEFT_CONTROL MINUS  &hm LEFT_SHIFT SINGLE_QUOTE      &kp SLASH  &kp SEMICOLON  &hm RIGHT_SHIFT LEFT_PARENTHESIS  &hm RIGHT_CONTROL LEFT_BRACE  &hm RIGHT_ALT LEFT_BRACKET  &hm RIGHT_META LESS_THAN
               &kp PIPE           &kp TILDE          &kp UNDERSCORE            &kp DOUBLE_QUOTES       &kp BSLH      &kp COLON             &kp RIGHT_PARENTHESIS               &kp RIGHT_BRACE           &kp RIGHT_BRACKET          &kp GREATER_THAN
                                                                                           &none  &kp BACKSPACE      &kp SPACE                             &none
            >;
        };

        system {
            bindings = <
           &kp F1           &kp F2               &kp F3              &kp F4   &none         &kp K_MUTE         &kp PRINTSCREEN                      &kp SYSREQ                 &none    &kp C_BRIGHTNESS_AUTO
 &hm LEFT_META F5  &hm LEFT_ALT F6  &hm LEFT_CONTROL F7  &hm RIGHT_SHIFT F8   &none    &kp K_VOLUME_UP  &hm RIGHT_SHIFT K_PREV  &hm RIGHT_CONTROL K_PLAY_PAUSE  &hm RIGHT_ALT K_NEXT  &hm RIGHT_META C_BRI_UP
           &kp F9          &kp F10              &kp F11             &kp F12   &none  &kp K_VOLUME_DOWN                   &none                           &none                 &none     &kp C_BRIGHTNESS_DEC
                                                                      &none   &none              &none                   &none
            >;
        };

        function_nav {
            bindings = <
           &kp F1           &kp F2               &kp F3             &kp F4     &kp SCROLLLOCK    &kp PAGE_UP              &kp HOME                  &kp UP              &kp END           &kp CAPSLOCK
 &hm LEFT_META F5  &hm LEFT_ALT F6  &hm LEFT_CONTROL F7  &hm LEFT_SHIFT F8    &kp K_SCROLL_UP  &kp PAGE_DOWN  &hm RIGHT_SHIFT LEFT  &hm RIGHT_CONTROL DOWN  &hm RIGHT_ALT RIGHT  &hm RIGHT_META DELETE
           &kp F9          &kp F10              &kp F11            &kp F12  &kp K_SCROLL_DOWN         &kp N7              &kp LEFT                &kp DOWN               &kp UP              &kp RIGHT
                                                                     &none              &none          &none                 &none
            >;
        };

        One_hand {
            bindings = <
       &kp ESCAPE   &kp Q   &kp W         &kp E      &kp R  &trans  &trans  &trans  &trans  &trans
   &kp LEFT_SHIFT   &kp A   &kp S         &kp D      &kp F  &trans  &trans  &trans  &trans  &trans
 &kp LEFT_CONTROL   &kp Z   &kp X         &kp C      &kp V  &trans  &trans  &trans  &trans  &trans
                                   &kp LEFT_ALT  &kp SPACE   &to 0   &to 0
            >;
        };

        Device {
            bindings = <
 &bootloader  &reset   &none       &none  &bt BT_SEL 0  &bt BT_SEL 1       &none   &none  &reset  &bootloader
       &none   &none   &none  &bt BT_PRV  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_NXT   &none   &none        &none
       &none   &none   &none       &none  &bt BT_SEL 4    &bt BT_CLR       &none   &none   &none        &none
                                   &none         &none         &none       &none
            >;
        };
    };
};
